<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <connectionStrings>
    <add name="eupaths_prod2" connectionString="DRIVER={PostgreSQL Unicode};Port=5432;SERVER=localhost;UID=postgres;PWD=abc$123;DATABASE=eupaths_v2;READONLY=0"/>
    <add name="eupaths_prod" connectionString="DRIVER={PostgreSQL Unicode};Port=5433;SERVER=localhost;UID=eupathsadmin;PWD=cQmCWv9H;DATABASE=eupaths_v2;READONLY=0"/>
  </connectionStrings>
  <appSettings>
    <!--should be false by default when in production-->
    <add key="Debug" value="true"/>
  </appSettings>
</configuration>